/* * Background */

.background-container {
  width: 100%;
  max-width: 100vw;
  min-height: 150px;
  height: 25vh;
}

.image-background {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  position: absolute;
}


/* * Search */

.search-input {
  background-color: #20293A;
  border-radius: 8px;
  border: transparent;
  width: 100%;
  padding: 8px 5px;
  display: flex;
}

.search-container input {
  background-color: transparent;
  border: none;
  color: #ffffff;
  flex-grow: 8;
  outline: none;
}

.search-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searched-container {
  background: linear-gradient(95deg, #111729 3%, #1d1b48 99.61%);
  border-radius: 8px;
  border: transparent;
  width: 100%;
  padding: 8px 5px;
  display: flex;
  align-items: center;
}

/* * Github logo */

.git-logo-container {
  aspect-ratio: 1;
  background-color: #000000;
  border-radius: 16px;
  height: auto;
  max-width: 120px; 
  padding: 2px;
}

.git-logo {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  border-radius: 8px;
}


/* * Pill */
.pill-container {
  background-color: #111729;
  border-radius: 8px;
  gap: 15px;
  height: fit-content;
  margin-bottom: 8px;
  padding: 15px;
  width: auto;
}

.pill-container h4,p {
  font-size: .75rem;
  font-weight: 400;
}

.pill-divider {
  background-color: aliceblue;
  height: auto;
  padding: 0.5px;
  width: 0.5px;
}

.column .center {
  align-items: flex-start;
  gap: 15px;
}


/* * Card */

.grid-card {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 150px;
  margin: 30px 0px;
}

.card-container {
  background: linear-gradient(95deg, #111729 3%, #1d1b48 99.61%);
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 12px;
  padding: 15px;
}

.card-container div {
  align-items: center;
  gap: 10px;
}

.card-container p {
  color: #97A3B6;
  font-size: .75rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* * View all repositories */

.view-all {
  align-self: center;
  color: #CDD5E0;
  font-size: 1rem;
  font-weight: 400;
}

@media (width < 750px) {
  .grid-card {
    grid-template-columns: 1fr;
  }
  .search-container {
    left: 5%;
    right: 5%;
  }
  .second-container {
    width: 85dvw;
  }
  .background-container {
    height: 20vh;
  }
}